<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h2>Reservacion</h2>
    <form action="{{ url_for('insertar_datos') }}" method="post">
        <label for="dni_cliente">dni cliente</label>
        <input type="text" id="dni_cliente" name="dni_cliente" required><br>

        <label for="id_habitacion">id habitacion</label>
        <input type="text" id="id_habitacion" name="id_habitacion" required><br>

        <label for="fecha_reservada">Fecha:</label>
        <input type="date" id="fecha_reservada" name="fecha_reservada" required><br>

        <input type="submit" value="Insertar">
    </form>
</body>
</html>
